:root{
  --vintage-beige: #F5F5DC;
  --vintage-olive: #808000;
  --vintage-brown: #8B4513;
  --vintage-orange: #D2691E;
  --vintage-red: #B22222;
  --vintage-blue: #4682B4;
  --vintage-green: #556B2F;
  --vintage-yellow: #FFD700;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #DFD3C3;
  gap: 32px;
}

.hero__text{
  display: 	flex;
  flex-direction: column;
  align-items: center;
}

.hero__text p{
  font-size: 1.5rem;
  color: #222;
}

.hero h1{
  font-size: 10rem;
  line-height: 100%;
  color: #222;
}

.non-bold{
  font-weight: 200;
}
.bold{
  font-weight: 700;
}

::selection {
  background-color: #488371;
  color: white;
}

.box{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 10px;
}

.button{
  padding: 10px 20px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;

  height: 50px;
  width: 250px;

  display: none;
}

.blocks-container{
  display: none;
  gap: 32px;
  justify-content: center;

}

.block{
  height: 100px;
  width: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.b1{
  background: linear-gradient(180deg, #B22222, #8B0000);
}
.b2{
  background: linear-gradient(180deg, #4682B4, #1E90FF);
}
.b3{
  background: linear-gradient(180deg, #556B2F, #6B8E23);
}
.b4{
  background: linear-gradient(180deg, #808000, #6B8E23);
}
.b5{
  background: linear-gradient(180deg, #D2691E, #FF7F50);
}

.background-grid{
  position: absolute;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;

  padding: 32px;

  background-color: #f1f1f1;

  width: 100vw;
  height: 100vh;

  z-index: -1;
}

.grid-element{
  height: auto;
  width: 100%;
  border-radius: 15px;

  background-color: gray;
  opacity: 0.1;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sec2{
  background-color: transparent;
}
